<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTD/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Nudge</string>
	<key>CFBundleIdentifier</key>
	<string>com.mindshift.nudge</string>
	<key>CFBundleName</key>
	<string>Nudge</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Tanker-Regular.otf</string>
		<string>Tanker-Regular.ttf</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Nudge sends notifications to help you stay focused and remind you about break times.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.mindshift.nudge.background-refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-processing</string>
		<string>background-app-refresh</string>
	</array>
</dict>
</plist>
